*.classpath
*.project
*.DS_Store

/projeto2-parent/.settings
/projeto2-parent/projeto2-business/.settings
/projeto2-parent/projeto2-data/.settings
/projeto2-parent/projeto2-ear/.settings
/projeto2-parent/projeto2-web/.settings